<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="tekkan.synappz.com.tekkan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activity.DisclaimerActivity"/>

        <activity android:name=".activity.ProfileSetupActivity"/>

        <activity android:name=".activity.MainActivity"/>

        <activity android:name=".activity.FilterOptionActivity" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDK3Ip6wvb3XjCpCW4l5VBthLSBG57qI3c"/>
    </application>

</manifest>